p {
    margin: 0;
    padding: 0;
    width: 7vw;
    height: 7vw;
    text-align: center;
    font-size: 7vw;
    border: solid black 1px;
}

body{
    background-color: rgb(44, 48, 44);
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.gameBoard {
    min-width: 100px;
    width: 25vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}

.disableClick {
    pointer-events: none;
}

#win {
    color: green;
}

#loss {
    color: red
}

.result {
    text-align: center;
    font-size: 2em;
}

.resetButton {
    background-color: darkgray;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 3px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    transition: all 250ms;
    width: auto;
    margin-top: 30px;
}
/*box border styles */


#box1 {
    border-style: solid;
    border-width: 0rem 4px 4px 0rem;
    cursor: pointer;
    transition: all 200ms; 
}

#box2 {
    border-style: solid;
    border-width: 0rem 4px 4px 4px;
    cursor: pointer;
    transition: all 200ms; 
}

#box3 {
    border-style: solid;
    border-width: 0rem 0rem 4px 4px;
    cursor: pointer;
    transition: all 200ms; 
}

#box4 {
    border-style: solid;
    border-width: 4px 4px 4px 0rem;
    cursor: pointer;
    transition: all 200ms; 
}

#box5 {
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    cursor: pointer;
    transition: all 200ms; 
}

#box6 {
    border-style: solid;
    border-width: 4px 0rem 4px 4px;
    cursor: pointer;
    transition: all 200ms; 
}

#box7 {
    border-style: solid;
    border-width: 4px 4px 0rem 0rem;
    cursor: pointer;
    transition: all 200ms; 
}

#box8 {
    border-style: solid;
    border-width: 4px 4px 0rem 4px;
    cursor: pointer;
    transition: all 200ms; 
}

#box9 {
    border-style: solid;
    border-width: 4px 0rem 0rem 4px;
    cursor: pointer;
    transition: all 200ms; 
}