p {
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 12vw;
    border: solid black 1px;
}

body{
    background-color: rgb(44, 48, 44);
}

.flexRow {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.gameBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}