p {
    margin: 0;
    padding: 0;
    width: 12vw;
    height: 12vw;
    text-align: center;
    font-size: 12vw;
    border: solid black 1px;
}

body{
    background-color: rgb(44, 48, 44);
}

h1 {
    text-align: center;
    font-size: 3em;
}

.gameBoard {
    width: 40%;
    margin: 10rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}

.disableClick {
    pointer-events: none;
}

/*box border styles */


.box1 {
    border-style: solid;
    border-width: 0rem 0.5rem 0.5rem 0rem;
    cursor: pointer; 
}

.box2 {
    border-style: solid;
    border-width: 0rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer; 
}

.box3 {
    border-style: solid;
    border-width: 0rem 0rem 0.5rem 0.5rem;
    cursor: pointer; 
}

.box4 {
    border-style: solid;
    border-width: 0.5rem 0.5rem 0.5rem 0rem;
    cursor: pointer; 
}

.box5 {
    border-style: solid;
    border-width: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer; 
}

.box6 {
    border-style: solid;
    border-width: 0.5rem 0rem 0.5rem 0.5rem;
    cursor: pointer; 
}

.box7 {
    border-style: solid;
    border-width: 0.5rem 0.5rem 0rem 0rem;
    cursor: pointer; 
}

.box8 {
    border-style: solid;
    border-width: 0.5rem 0.5rem 0rem 0.5rem;
    cursor: pointer; 
}

.box9 {
    border-style: solid;
    border-width: 0.5rem 0rem 0rem 0.5rem;
    cursor: pointer; 
}